$black: #0A0B0A;
$white: #FDFDFD;
$p1: #1D90D9;
$p2: #FFCA3A;
$p3: #7CC631;
$p4: #FF9933;

$f1: 'ProximaNova';
$f2: 'HelveticaNeue-Bold';
$f3: 'RocaOne-Black';

$giant-text: 5rem;
$larger-text: 2rem;
$large-text: 1.2rem;
$reg-text: 1rem;
$small-text: .8rem;