@import "./vars";

.header-wrap {
    background: $p1;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .nav-wrap {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 9;
        background: $p1;

        nav {
            padding: 8px;
    
            .logo-wrap {
                max-width: 140px;
        
                img {
                    width: 100%;
                }
            }
        }
    }

    .content-wrap {
        width: 100%;

        .img-wrap {
            margin-bottom: 12px;
        }

        .btn-wrap {
            margin-top: 42px;
        }
    }
}