@import "./vars";

#mission {
    padding: 40px 0;
    .content-wrap {
        // grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
        display: flex;

        img {
            max-width: 400px;
        }
        .title-wrap {
            background: $p2;
            padding: 12px 20px;
        }
        .body-wrap {
            padding: 20px;
        }
    }
}

#details {
    h2 {
        font-size: $largest-text;
    }
    img {
        max-width: 360px;
        width: 100%;

    }

    h2 {
        margin-bottom: 12px;
    }

    .text-wrap {
        max-width: 700px;
        margin: 0 40px;
    }
}

#team {
    h2 {
        font-size: $largest-text;
        text-align: center;
    }

    h3 {
        font-family: $f3;
        font-size: $large-text;
    }

    img {
        width: 100%;
    }

    .text-wrap {
        padding: 0 40px;
    }
}

#faq {
    h2 {
        font-size: $largest-text;
        text-align: center;
    }
}