@font-face {
    font-family: 'ProximaNova';
    src: url('./fonts/ProximaNova.otf');
}
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('./fonts/ProximaNova-Bold.ttf');
}
@font-face {
    font-family: 'ProximaNova-SemiBold';
    src: url('./fonts/ProximaNova-Sbold.ttf');
}
@font-face {
    font-family: 'ProximaNova-Black';
    src: url('./fonts/ProximaNova-Black.ttf');
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('./fonts/HelveticaNeue.ttc');
}